<div class="left-side">
  <h1 class="greetings">
    Привіт💧
  </h1>

  <p class="daily-rate-label">
    Ваша денна норма води:
  </p>

  <div class="daily-rate-container">
    <div class="rate-amount">
      <img src="assets/water-drop.svg" />

      <span class="rate-amount-number">
        {{ dailyRate }} мл
      </span>
    </div>

      <form
        *ngIf="isEditing"
        class='daily-rate-form'
      >
        <input
          class='daily-rate-input'
          [formControl]="rate"
          placeholder="Type amount here in ml..."
        />
        <button (click)="submit()" type="button">
          <img src="assets/pencil.svg" />
        </button>
      </form>

      <button
        *ngIf="!isEditing"
        class="change-rate-button"
        (click)="startEditing()"
      >
      <img src="assets/pencil.svg" />
        Змінити об'єм
      </button>
  </div>
</div>
